<% if user_signed_in? %>
  <%= link_to "Your events", user_path(current_user)%><br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <p><%= link_to "Sign In", new_user_session_path %> to create or participate in events</p>
<% end %>

<h1>Welcome!</h1>
<h2>All available events:</h2>
<%= render partial: "event_list", locals: {events: @events} %>